{% extends "base.html" %}

{% block app_content %}
    <div class="card", style="width: 20rem;">
                <div class="card-header">
                    <h1> Your Campaigns </h1>
                </div>
    </div>

    <div class="container pt-5">
                <div class="card mx-auto bg-warning-subtle", style="width: 70rem;">
                    <div class="card-body">
                    {% if not campaigns %}
                        <h3>
                        Looks like you don't have any campaigns.
                        <a href="{{ url_for('new_campaign') }}">
                            <button type="button" class="btn btn-secondary btn-lg">Create a Campaign</button>
                        </a>
                        </h3>
                    {% endif %}
                        <ul class="list-group">
                            {% for campaign in campaigns %}
                                <a href="/campaign/{{ campaign.id }}">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ campaign.name }}
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    </div>
{% endblock %}