{% extends "base.html" %}

{% block app_content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <div class="container pt-5">
                <div class="card mx-auto bg-warning-subtle", style="width: 70rem;">
                    <div class="card-body">
                          <div class="row">
                                <div class="col-sm">
                                  <div class="card mx-auto", style="width: 20rem;">
                                      <div class="card-header">
                                          Bio Generator
                                      </div>
                                      <div class="card-body">
                                          <h1> Test! Did you make it here?</h1>
                                        </div>
                                    </div>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}